h1{
	color: navy;
	font-family: Arial, sans-serif;
	font-size: 18px;
}

h2{
	color: green;
	font-family: Arial;
	font-size: 16px;
}

h4{
	color: red;
}

#footer{
	color: black;
}

.center{
	text-align:center;
}