body {
  background-image: url("Blog_Images/blog_background.jpg");
  width: auto;
  height: 100%;
  font-size: 18px;
  font-family: Arial, font-weight: 400;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100%;
  color: white;

}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.125em;
}

p {
  max-width: 800px;
}

#capture{
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 7px 7px 7px grey;